# Configuración de utilidadesHA

SCRIPT="utilidadesHA"

# Carpetas de Home Assistant
PATH_HA_CONFIG=/srv/ha/hass-config
PATH_HA_MEDIA=/srv/ha/hass-media

# Configuración SSL opcional
#PATH_HA_SSL=
#PATH_HA_SSL_CONTAINER=

# Socket DBus para la integración Bluetooth
PATH_HA_DBUS=/run/dbus
PATH_HA_DBUS_CONTAINER=/run/dbus

# Nombre del contenedor
NAME_CONTAINER=home-assistant

# Dispositivo USB Zigbee opcional
#USB_ZIGBEE=/dev/serial/by-id/usb-xxxxxx

# Carpeta raíz de backups
FOLDER_BACKUP=/backup/

# Imágenes Docker
IMAGE_DOCKER_RPI3=homeassistant/raspberrypi3-homeassistant
IMAGE_DOCKER_RPI4=ghcr.io/home-assistant/raspberrypi4-homeassistant
IMAGE_DOCKER_x86_64=ghcr.io/home-assistant/home-assistant
IMAGE_DOCKER_aarch64=ghcr.io/home-assistant/home-assistant

# Etiqueta Docker predeterminada
TAG_DOCKER=stable

# Forzar actualización: 0 desactivado, 1 activado
FORCE=0
