#consts

SCRIPT="utilidadesHA"


PATH_HA_CONFIG=/srv/ha/hass-config
PATH_HA_MEDIA=/srv/ha/hass-media
#CONFIG FOR SSL PATH
#PATH_HA_SSL=
#PATH_HA_SSL_CONTAINER=

#PATHS for socket DBUS for Bluetooth integration
PATH_HA_DBUS=/run/dbus
PATH_HA_DBUS_CONTAINER=/run/dbus



NAME_CONTAINER=home-assistant

#USB device zigbee if exists 
#USB_ZIGBEE=/dev/serial/by-id/usb-xxxxxx

#BACKUP
FOLDER_BACKUP=/backup/

#RECIPIENT when use gpg compression
#RECIPIENT_GPG=

#IMAGE URL
##########

#rpi3
IMAGE_DOCKER_RPI3=homeassistant/raspberrypi3-homeassistant

#Rpi4
IMAGE_DOCKER_RPI4=ghcr.io/home-assistant/raspberrypi4-homeassistant

#x86_64
IMAGE_DOCKER_x86_64=ghcr.io/home-assistant/home-assistant

#AARCH64 (like Orange Pi Zero3)
IMAGE_DOCKER_aarch64=ghcr.io/home-assistant/home-assistant

#DOCKER TAG TO BE USED
TAG_DOCKER=stable

#Show with colours
# si if you want to show script with colours, another value if not.
COLOURS=si

#FORCE UPDATE,
#Default value
#0 disable, 1 enable
FORCE=0

